<!DOCTYPE html>
<html>
<head>
 <title>Details page</title>
    <link href="static/main.3f6952e4.css" rel="stylesheet"></head>
  <link href="static/assets/favicon.ico" rel="icon">


</head>
<body>
<style>

 td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
      }
</style>
<table>
  <thead>
    <tr>
        <th>ID</th>
        <th>email id</th>
        <th>subject</th>
        <th>message</th>
    </tr>
    </thead>
    <tbody>
     {% for row in data %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>

</html>